<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> </key>
	<array>
		<string>GAP</string>
	</array>
	<key>a</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>b</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>c</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>d</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>e</key>
	<array>
		<string>DOT</string>
	</array>
	<key>f</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>g</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>h</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>i</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>j</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>k</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>l</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>m</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>n</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>o</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>p</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>q</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>r</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>s</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
	<key>t</key>
	<array>
		<string>DASH</string>
	</array>
	<key>u</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>v</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>w</key>
	<array>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>x</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>y</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
	</array>
	<key>z</key>
	<array>
		<string>DASH</string>
		<string>GAP</string>
		<string>DASH</string>
		<string>GAP</string>
		<string>DOT</string>
		<string>GAP</string>
		<string>DOT</string>
	</array>
</dict>
</plist>
